[mysqld]

# Tuning Settings

max_connections = 15
query_cache_size = 512K
thread_cache_size = 0
sort_buffer_size = 32K
bulk_insert_buffer_size = 0
tmp_table_size = 1K
max_heap_table_size = 16K
key_buffer_size = 1M
read_buffer_size = 8K
read_rnd_buffer_size = 8K
innodb_buffer_pool_size = 5M
innodb_log_buffer_size = 256K